body {
    font-family: sans-serif;
}

header{
    background-color: bisque;
    padding:  15px;
    border-radius: 35px;
}



header a  {
    text-decoration: none;
    border: 1px solid blue;
    border-radius: 30px;
     padding: 9px;
     margin: 15px;
}


h1 {
    text-align: center;
    color: aqua;
    text-decoration: none;
    border: 1px solid blue;
    border-radius: 30px;
    padding: 5px;
    margin: 5px;
}


footer{
    background-color: brown;
}


nav {
    margin: 20px;
    padding: 10px;
    border: 2px solid lightgray;
}

nav a {
    margin: 60px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(90, 90, 90);
}
